<!-- base.html is inherited and <body> block is overwritten -->

{% extends 'base.html' %}

{% block body %}
<script src="/static/form.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.8.2/js/all.js"
        integrity="sha384-DJ25uNYET2XCl5ZF++U8eNxPWqcKohUUBUpKGlNLMchM7q4Wjg2CUpjHLaL8yYPH"
        crossorigin="anonymous"></script>
<div class="mainframe">
    <h2>Welcome to the markdown template creator!</h2>

    <form method="POST" action="/create_template_archive">
        <div>
            <div class="tooltip area_title">1) Please enter your template data
                <span class="tooltiptext">This data isn't permanent but can be changed manually in the resulting markdown document</span>
            </div>
            <table>
                <tr>
                    <td>
                        <div class="tooltip">Title:
                            <span class="tooltiptext">Enter the document headline title</span>
                        </div>
                    </td>
                    <td>
                        <textarea name="{{title}}" id="title_field"
                                  cols="30" rows="3"
                                  class="required tooltip" required></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="tooltip">Author:
                            <span class="tooltiptext">Enter the document author's name</span>
                        </div>
                    </td>
                    <td>
                        <input name="{{author}}" id="author_field" type="text"
                               width="30" class=required" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="tooltip">Date:
                            <span class="tooltiptext">Enter the date this document is created</span>
                        </div>
                    </td>
                    <td>
                        <input name="{{date}}" id="date_selector" type="date"
                               class=required" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="tooltip">Project:
                            <span class="tooltiptext">(Optional) Define the project this document belongs to</span>
                        </div>
                    </td>
                    <td>
                        <input name="{{project}}" id="project_field"
                               type="text"
                               width="30">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="tooltip">Language:
                            <span class="tooltiptext">Define the document template language</span>
                        </div>
                    </td>
                    <td>
                        <input name="{{language}}" type="radio" value="de"
                               id="lang_de">
                        <label for="lang_de">German</label>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input name="{{language}}" type="radio" value="en"
                               id="lang_en" checked="True">
                        <label for="lang_en">English</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="tooltip">Filename:
                            <span class="tooltiptext">Your markdown and resulting html file will have this filename (don't enter a file extension)</span>
                        </div>
                    </td>
                    <td>
                        <input name="{{filename}}" id="filename_field"
                               type="text"
                               class="required"
                               required>
                    </td>
                </tr>
                <!--#TODO:Add pandoc mermaid + pandoc plantuml filter checkbox options-->
            </table>
        </div>


        <div class="tooltip area_title">2) Define chapter titles
            <span class="tooltiptext">Chapters belows are added to template in topdown order</span>
        </div>
        <div>
            <table id="chapter_table">

            </table>
            <table id="chapter_presets">
                <tr>
                    <td style="width:min-content">
                        <div class="tooltip">
                            <button class="icon_btn add_btn"
                                    id="add_chapter_title">
                                <i class="fas fa-plus"></i>
                            </button>
                            <span class="tooltiptext">Add a new chapter title</span>
                        </div>

                    </td>
                </tr>
                <tr style="float:left">
                    <td style="width:100px">
                        <div class="tooltip">
                            <p>Load presets:</p>
                            <span class="tooltiptext">Sets default chapter titles in selected language</span>
                        </div>
                    </td>
                    <td style="width:100px">
                        <input class=btn_preset type="button" value="English">
                    </td>
                    <td style="width:100px;">
                        <input class=btn_preset type="button" value="German">
                    </td>
                </tr>
            </table>
        </div>

        <template id="chapter_title">
            <tr style="float:left">
                <td>
                    <input type="text" class=required" width="50" required>
                </td>
                <td>
                    <div class="tooltip">
                        <button class="icon_btn rm_btn"
                                id="del_chapter_title">
                            <i class="fas fa-minus"></i>
                        </button>
                        <span class="tooltiptext">Remove chapter</span>
                    </div>
                </td>
                <td>
                    <table style="border:none;margin:0px;padding:5px;line-height:1em">
                        <tr>
                            <td>
                                <div class="tooltip">
                                    <button class="icon_btn mv_btn"
                                            id="chapter_move_up">
                                        <i class="fas fa-caret-up"></i>
                                    </button>
                                    <span class="tooltiptext">Move up one spot</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="tooltip">
                                    <button class="icon_btn mv_btn"
                                            id="chapter_move_down">
                                        <i class="fas fa-caret-down"></i>
                                    </button>
                                    <span class="tooltiptext">Move down one spot</span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </template>


        <div class="tooltip area_title">3) Choose a template
            <span class="tooltiptext">Defines the style of the resulting html document</span>
        </div>
        <table>
            <tr>
                <td>

                    <a class=thumbnail target="_blank"
                       href="static/img/default_sample.png">
                        <img src="static/img/default_sample.png"
                             width="100" height="120">
                    </a>
                </td>
                <td>

                    <a class=thumbnail target="_blank"
                       href="static/img/robot_framework_sample.png">
                        <img src="static/img/robot_framework_sample.png"
                             width="100" height="120">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <input name="style" type="radio" value="Default"
                           id="tmpl_default" checked="True">
                    <label>Default</label>
                </td>
                <td>
                    <input name="style" type="radio" value="RobotFramework"
                           id="tmpl_robot_framework">
                    <label>Robot Framework</label>
                </td>
            </tr>
        </table>
        <div>
            <div class="tooltip area_title">3) Click 'Create template' to get
                your template files
                <span class="tooltiptext">All required files are offered as zip download</span>
            </div>
        </div>

        <input name="submit" id="submit" type="submit"
               value="Create template">

    </form>
</div>
{% endblock %}