body{
  font-family:        Verdana, Helvetica, Arial, sans-serif;
  font-size:          medium;
  line-height:        1.6em;
  background-color:   #FFFFFF;
  border:             2px solid gray;
  float:              left;
}

.mainframe{
  background-color:   tan;
  padding:            10px 10px 10px 10px;
}

h2{
  font-size:          1.8em;
}

table{
  border:             2px solid gray;
  margin-left:        30px;
  padding:            10px;
  background-color:   #BAA288;

}

textarea{
  font-size:        115%;
  color:            blue;
  width:            300px;
}

input[type=date]{
  font-size:        115%;
  color:            blue;
}

input[type=text] {
  font-size:        115%;
  color:            blue;
  width:            295px;
}
input[type=submit] {
  font-size:        125%;
  margin-left:      30px;
}
select {
  font-size:        125%;
}
